header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header a {
    text-decoration: none;
    color: #fff;
  }
  
  header .logo {
    position: relative;
    transform: scale(.7);
    cursor: default;
  }
  
  header ul {
    position: relative;
    display: flex;
  }
  
  header ul li {
    list-style: none;
  }
  
  header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
  }
  
  header ul li a:hover{
    color: var(--main-color);
  }
  
  @media (max-width: 991px) {
    .toggle {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
      background: url("../assets/icons/menu.png");
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(1);
      z-index: 11;
    }
  
    .toggle.active {
      position: fixed;
      right: 20px;
      background: url("../assets/icons/close.png");
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    header {
      padding: 20px;
    }
  
    header .logo {
      max-width: 60px;
    }
  
    
    header a {
      text-decoration: none;
      color: var(--main-color);
    }
  
    header ul {
      display: none;
    }
  
    header ul.navigation.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
      z-index: 10;
    }
  
    header ul li a {
      font-size: 1.5em;
      margin: 5px 0;
    }
  }