@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color : #ED6865;
    --secondary-color : #FFF;
    --background-color: #FFF1DD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    clip-path: circle(700px at right 800px);
  }
  
.circle-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  clip-path: circle(800px at left 300px);
}

  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
  }
  
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content .textBox {
    position: relative;
    max-width: 600px;
    margin-bottom: 5%;
  }
  
  .content .textBox h2 {
    color: var(--secondary-color);
    font-size: 6em;
    line-height: 1em;
    font-weight: 400;
  }
  
  .content .textBox h2 span {
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 700;
  }
  
  .content .textBox p {
    color: var(--secondary-color);
  }
  
  .content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--secondary-color);
    color: var(--main-color);
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .content .textBox a:hover{
    background: var(--background-color);
  }
  
  .content .imgBox .img-combo{
     transform: scale(.8);
     margin-left: 8%;
  }

  .mobile_logo {
    display: none;
  }

  .desktop_logo {
    display: block;
  }
   
  @media (max-width: 991px) {
  
    section {
      padding: 20px 20px 60px;
    }
  
    .content {
      flex-direction: column;
      margin-top: 100px;
    }

    .mobile_logo {
        display: block;
    }

    .desktop_logo {
        display: none;
    }
  
    .content .textBox h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
  
    .content .textBox {
      max-width: 100%;
    }
  
    .content .imgBox .img-combo{
      display: none;
    }
  
    .circle {
      clip-path: circle(700px at center bottom);
    }
  
    .circle-two{
      display: none;
    }   
  }
  