@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color : #ED6865;
    --secondary-color : #FFF;
    --background-color: #FFF1DD;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    clip-path: circle(700px at right 800px);
  }
  
.circle-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  clip-path: circle(800px at left 300px);
}

  .home-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
  }
  
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
  }
  .text-header-color {
    font-weight: 500;
    font-size: 3rem;
    color: var(--main-color);
    padding-left: 100px;
    padding-top: 2rem;
    background: var(--background-color);
  }
  .content .textBox {
    position: relative;
    max-width: 600px;
    margin-bottom: 5%;
  }
  
  .content .textBox h2 {
    color: var(--secondary-color);
    font-size: 6em;
    line-height: 1em;
    font-weight: 400;
  }
  
  .content .textBox h2 span {
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 700;
  }
  
  .content .textBox p {
    color: var(--secondary-color);
  }
  
  .content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--secondary-color);
    color: var(--main-color);
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .content .textBox a:hover{
    background: var(--background-color);
  }
  
  .content .imgBox .img-combo{
     transform: scale(1);
     margin-left: 8%;
  }

  .mobile_logo {
    display: none;
  }

  .desktop_logo {
    display: block;
  }

  #carrousel_section {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
  }

  #carrousel_premios {
    background-color: var(--background-color);  
    padding: 5%;
  }

  #carrousel_premios .cards-title {
    font-size: 3.5rem;
    text-align: center;
    color: var(--main-color);
  }

  #carrousel_premios .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #carrousel_premios .card {
    background-color: var(--main-color);
    margin: 2.5%;
    border-radius: 40px;
  }

  #carrousel_premios .card img {
    width: 300px;
    height: auto;
  }

  #carrousel_premios .card p {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    color: var(--secondary-color);
  }

  #steps_section{
    background-color: var(--background-color);
    padding-bottom: 10rem;     
  }

  #steps_section .cards-title {
    font-size: 3.5rem;
    text-align: center;
    color: var(--main-color);
    font-weight: 400;
  }

  #steps_section .steps {
    text-align: center!important;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    color: var(--main-color);
  }
   
  #steps_section .step {
    border: 3px solid var(--main-color);
    border-radius: 100%;
    width: 250px;
  }

  #steps_section .step img {
    width: 200px;
    height: 200px;
    padding: 20px;
  }

  .setp-info {
    font-size: 2rem;
  }

  #global_section {
    background-color: var(--background-color);   
    display: flex;  
    justify-content: space-around;
    align-items: center;
  }

  #global_section p {
    font-size: 4rem;
    color: var(--main-color);
  }

  #global_section img {
    width: 500px;
    height: 500px;
    margin-left: 5%;
  }

  .linea-horizontal {
    margin-top: 7%;
    width: 15%;
    height: 0px;
    border: 2px solid #ED6865;
  }
  /* Seccion viajá igual*/
  #travel_section {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .boxes-country {
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 750px;
    height: 450px;
    border-radius: 25px;
    margin-top: 50px;
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end;
  }

  .boxes-country .text {
    font-size: 3em;
    text-align: right;
    font-weight: 800;
    color: var(--secondary-color);
  }

  .boxes-country .text p {
    margin-right: 80px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.25px; 
  }
  /* FAQ SECTION */


  #faq_section {
    padding-top: 100px;
    background-color: var(--background-color);
  }

  .questions_container{
    width: 50%;
  }

  .faq_section_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #faq_section h1{
    color: var(--main-color);
    font-size: 3rem;
    padding: 20px 100px;
  }

  .faq_section_container img {
    width: 600px;
  }


  /* Footer section */
  #footer-section {
    padding-top: 5em;
    padding-bottom: 3em;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around ;
  }

  #footer-section .academic_data {
    text-align: left;
  }

  #footer-section .social_media {
    text-align: center;
  }

  #footer-section .social_media img {
    width: 200px;
  }

  #footer-section .students_data {
    text-align: right;
  }

  #footer-section .social_media .social_media_logos a img{
    margin-top: 20px;
    width: 40px;
    height: 40px;
  }
  
  @media (max-width: 768px) {
  
    section {
      padding: 20px 20px 60px;
    }
    
    .linea-horizontal{
      display: none;
    }
  
    .content {
      flex-direction: column;
      margin-top: 100px;
    }

    .mobile_logo {
        display: block;
    }

    .desktop_logo {
        display: none;
    }
  
    .content .textBox h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
  
    .content .textBox {
      max-width: 100%;
    }
  
    .content .imgBox .img-combo{
      display: none;
    }
  
    .circle {
      clip-path: circle(700px at center bottom);
    }
  
    .circle-two{
      display: none;
    }   
    .text-header-color {
      padding :0;
    }
    /*premios */
    #carrousel_premios .card{
      max-width: 200px;
    }
    #carrousel_premios .card img{
      max-width: 120px;
    }
    #carrousel_premios .card p{
      font-size: 12px;
    }

    /*global_section */

    #global_section p{
      font-size: 25px;
    }

    #global_section img {
      max-width: 150px;
    }

    #steps_section .steps {
      flex-direction: column;
    }
    /* travel_section*/
    #travel_section a .boxes-country{
      max-height: 350px;
      max-width: 350px;
    }

    #travel_section a .boxes-country .text p {
      font-size: 40px;
      margin-bottom: 0;
      margin-right: 10px;
    }

    #faq_section img {
      max-width: 200px;
    }

    #faq_section .faq_section_container {
      flex-direction: column;
    }

    #faq_section h1 {
      padding : 0;
    }
    
    #faq_section .faq_section_container{
      padding: 0;
    }

    #footer-section {
      flex-direction: column;
    }

    #footer-section .academic_data{
      text-align: center;
      padding-bottom: 20px;
    }

    #footer-section .students_data{
      text-align: center;
      padding-bottom: 20px;
    }

    #carrousel_section .carousel {
      width: 100%;
      box-shadow: none;
    }

  }
  